@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff") format("woff"),
    url("../fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff") format("woff"),
    url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

h1,
h2 {
  font-family: "Space Mono";
  font-weight: bold;
  font-style: normal;
}
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
  font-weight: normal;
  font-style: normal;
}
p,
span,
a {
  font-family: "Space Mono";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.html {
  font-size: 16px;
}
body {
  margin: 0;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  z-index: 99;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
  transition: 0.5s;
}

.navbar .nav-container a:hover {
  color: #a300bb;
  transition: 0.5s;
  padding: 0.7rem;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background: #fff;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.title-header--color {
  background: linear-gradient(90deg, #fd741b 0%, #a300bb 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
.title-header h1 {
  font-size: 3rem;
  color: #fff;
}

section.title-header {
  padding: 10px 100px;
  text-align: center;
  background-color: #4e105c;
}
.card {
  padding-bottom: 100px;
}
.card__podcast {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.card__content {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(165 2 186 / 25%);
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
}
.card__number {
  margin-right: 7%;
  margin-top: -2.8%;
}
.card__number p {
  background-image: linear-gradient(180deg, #fd741b 0%, #a300bb 100%);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card__image {
  position: absolute;
  width: 15rem;
  left: -10%;
  top: 0px;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card__image img {
  width: 12rem;
}

.color-span {
  color: #9c00b2;
}

.card__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #ddd;
}

.card__links div a img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 3px;
}

.card__text {
  width: 50%;
  padding: 20px;
}

.card__description {
  padding-left: 155px;
  width: 55%;
}

.card__description h3 {
  font-size: 25px;
  font-weight: 700;
}

.card__a-flex a {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: gray;
}

.color-span--orange {
  color: #fc731c;
}

.orange {
  color: #fc731c !important;
}

.orange img {
  filter: invert(48%) sepia(74%) saturate(1711%) hue-rotate(349deg)
    brightness(102%) contrast(98%);
}

.card__mobile-flex {
  width: 55%;
}